html {
  scroll-behavior: smooth;
}

.main-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #051a41, transparent);
}

.main-section:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 350px;
  background: linear-gradient(to top, #051a41, transparent);
  z-index: 10000;
}

.main-section:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.heading_bg {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.heading_bg_caso {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.heading_persona {
  position: absolute;
  bottom: 0;
  z-index: 999;
  max-height: 100%;
}

.heading_logo {
  position: absolute;
  z-index: 999;
}

.heading_logo_caso {
  position: absolute;
  z-index: 999;
  height: 70%;
}

.main-row {
  width: 100%;
  height: 100vh;
}

@media (max-width: 991px) {
  .col-persona {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 60vh;
  }
}

@media (max-width: 991px) {
  .col-logo-sm {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 40vh;
  }
}

.heading_logo_sm {
  position: absolute;
  z-index: 9999;
  max-height: 100%;
}

#section2 {
  background: #051a41;
  height: 100vh;
}

.img-casos {
  max-width: 100%;
}

